@mixin fixed($left:0, $top:0, $bottom:0, $right:0) {
  position: fixed;
  left: $left;
  top: $top;
  bottom: $bottom;
  right: $right;
}

@mixin absolute($left:0, $top:0, $bottom:0, $right:0) {
  position: absolute;
  left: $left;
  top: $top;
  bottom: $bottom;
  right: $right;
}
